
*{
    text-align: center;
}

body{
    width: 100%;
    height: 100%;
}

#fileDownloadButton, #previewBtn {
    background-color:#008080;
    color: white; 
    border-radius: 50%;
    padding: 1.5em;
    font-size: 1.5em;
    border: 1px solid white;
}

#fileDownloadButton:hover{
    background-color: white;
    color:#008080;
    border: 2px solid #008080;
}
#previewBtn{
   margin: 2em;
   padding-left: 1.75em;
   padding-right: 1.85em;
}



h1, h4{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.fileshare{
    display: flex;
    justify-content: center;
}
i{
    color:#008080;
    font-size: 40px;
    margin-top: .5em;
    margin-right: .1em;
}

#shareText{
    margin: 2.5em;
}

#shareBkd{
    background-color: #F7F9FA;
    height: 100vh;
    margin: 1.5em;
    padding: 1em;
}
#shareMsg{
    margin: 2em;
}



nav{
    background-color: white;
}