
*{
    text-align: center;
}

body{
    width: 100%;
    height: 100%;
}

#fileDownloadButton{
    margin-top: 4em;
    color:#008080;
    background-color: white; 
    border: 1px solid #008080;
}



#fileDownloadButton, #previewBtn {
    box-shadow: 1px 1px white;
    padding: 1em;
    font-size: 1em;
    font-family: "Lato";
    letter-spacing: 1px;
    font-weight: bolder;
    text-transform: uppercase;
    box-shadow: 1px 1px lightgray;
}

#fileDownloadButton:hover, #previewBtn:hover{
    background-color: white;
    color:#008080;
    border: 2px solid #008080;
}

#previewBtn{
    margin: 2em;
    padding-left: 1.75em;
    padding-right: 1.85em;
    color:white;
    background-color: #008080; 
    border: 1px solid white;
}

.shareContainer{
    display: flex;
}

.shareImg{
    position: relative;
    background-image: url("/images/sharingfiles.jpg") !important;
    height: 80vh;
    width:65vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 2em;
    border: 1px solid #008080;
}

h1, h2, h4{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.bold{
    color: #008080;
    font-family: 'Lato' sans-serif !important; 
    letter-spacing: .5px;
    font-size: 1.25em;
    font-style: italic;
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.fileshare{
    display: flex;
    justify-content: center; 
}

.logo{
    height: 100px;
    width: 350px;
}


#shareText{
    margin: 2.5em;
}

#shareBkd{
    background-color: #F7F9FA;
    height: 100vh;
    width: 30vw;
    height: 80vh;
    border: 1px solid #008080;
}

#shareMsg{
    margin-top: 7em;
}

nav{
    background-color: white;
}

.imageFmt{
    width: 20vw;
    height: 20vh;
    border: 1px solid #008080;
}